.about-us {
  margin: 82px auto;
  padding: 0px 32px;
}
.about-us .about-us--wraper {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 32px 0px;
}
@media (max-width: 900px) {
  .about-us .about-us--wraper {
    justify-content: center;
  }
}
.about-us .about-us--wraper .about-us__left {
  width: 45%;
}
@media (max-width: 900px) {
  .about-us .about-us--wraper .about-us__left {
    width: 100%;
  }
}
.about-us .about-us--wraper .about-us__left .about-us__left--text {
  font: calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
  color: rgb(191, 191, 191);
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .about-us .about-us--wraper .about-us__left .about-us__left--text {
    text-align: center;
  }
}
.about-us .about-us--wraper .about-us__left .about-us__left--title {
  font: bold calc(0.9em + 1vw) "Noto Sans JP", sans-serif;
  color: rgb(79, 71, 62);
  padding: 8px 0px 24px 0px;
}
@media (max-width: 900px) {
  .about-us .about-us--wraper .about-us__left .about-us__left--title {
    text-align: center;
  }
}
.about-us .about-us--wraper .about-us__left .about-us__left--img {
  width: 480px;
  height: auto;
  padding-right: 24px;
}
@media (max-width: 900px) {
  .about-us .about-us--wraper .about-us__left .about-us__left--img {
    margin: auto;
    padding: 0px;
  }
}
.about-us .about-us--wraper .about-us__right {
  margin: auto 0px;
  width: 45%;
}
@media (max-width: 900px) {
  .about-us .about-us--wraper .about-us__right {
    width: 100%;
  }
}
.about-us .about-us--wraper .about-us__right .about-us__right--text {
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  line-height: 1.6em;
  color: rgb(96, 96, 96);
  padding-top: 24px;
}
@media (max-width: 900px) {
  .about-us .about-us--wraper .about-us__right .about-us__right--text {
    max-width: 480px;
    margin: auto;
  }
}

.small-portfolio {
  margin: 82px auto;
  padding: 0px 32px;
  background-color: rgb(79, 71, 62);
}
.small-portfolio .small-portfolio--wraper {
  max-width: 1100px;
  margin: auto;
  padding: 64px 0px;
}
@media (max-width: 900px) {
  .small-portfolio .small-portfolio--wraper {
    justify-content: center;
  }
}
.small-portfolio .small-portfolio--wraper .small-portfolio__text--container .small-portfolio__text {
  color: rgb(123, 123, 123);
  font: calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .small-portfolio .small-portfolio--wraper .small-portfolio__text--container .small-portfolio__text {
    text-align: center;
  }
}
.small-portfolio .small-portfolio--wraper .small-portfolio__text--container .small-portfolio__title {
  color: rgb(221, 221, 221);
  font: bold calc(0.9em + 1vw) "Noto Sans JP", sans-serif;
  padding: 8px 0px 24px 0px;
}
@media (max-width: 900px) {
  .small-portfolio .small-portfolio--wraper .small-portfolio__text--container .small-portfolio__title {
    text-align: center;
  }
}
.small-portfolio .small-portfolio--wraper .small-portfolio__img--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.small-portfolio .small-portfolio--wraper .small-portfolio__img--wraper {
  overflow: hidden;
  max-width: 340px;
  margin: 12px;
}
.small-portfolio .small-portfolio--wraper .small-portfolio__img--wraper .small-portfolio__img {
  transition: transform 0.3s ease-in-out;
}
.small-portfolio .small-portfolio--wraper .small-portfolio__img--wraper .small-portfolio__img:hover {
  transform: scale(1.1);
}
.small-portfolio .small-portfolio--button {
  display: flex;
  padding: 12px 32px;
  margin: 24px 0px 0px auto;
  background-color: rgba(214, 214, 214, 0.115);
  border: 0.5px solid rgb(253, 219, 176);
  border-radius: 4px;
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
}
.small-portfolio .small-portfolio--button .small-portfolio--button--link {
  color: rgb(253, 219, 176);
  text-decoration: none;
}
.small-portfolio .small-portfolio--button:hover {
  transition: 0.2s ease-in-out;
  background-color: rgba(214, 214, 214, 0.324);
}

.services {
  margin: 82px auto;
  padding: 0px 32px;
}
.services .services--wraper {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  padding: 32px 0px;
}
.services .services--wraper .services__text--container .services__text {
  color: rgb(191, 191, 191);
  font: calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .services .services--wraper .services__text--container .services__text {
    text-align: center;
  }
}
.services .services--wraper .services__text--container .services__title {
  color: rgb(79, 71, 62);
  font: bold calc(0.9em + 1vw) "Noto Sans JP", sans-serif;
  padding: 8px 0px 24px 0px;
}
@media (max-width: 900px) {
  .services .services--wraper .services__text--container .services__title {
    text-align: center;
  }
}
.services .services--wraper .services__offer--container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .services .services--wraper .services__offer--container {
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
}
.services .services--wraper .services__offer--container .services__offer {
  max-width: 320px;
  margin: 24px 12px;
  position: relative;
}
.services .services--wraper .services__offer--container .services__offer .services__offer--number {
  font: bold calc(2.8em + 2vw) "Noto Sans JP", sans-serif;
  color: rgb(221, 221, 221);
  position: absolute;
  top: -30px;
  left: -20px;
  z-index: -3;
}
.services .services--wraper .services__offer--container .services__offer .services__offer--title {
  font: bold calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
  color: rgb(79, 71, 62);
  padding-bottom: 12px;
}
.services .services--wraper .services__offer--container .services__offer .services__offer--text {
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  color: rgb(96, 96, 96);
  line-height: 1.6em;
}

.contact {
  margin: 82px auto;
  padding: 0px 32px;
  background-color: rgb(79, 71, 62);
}
.contact .contact--wraper {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 64px 0px;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .contact .contact--wraper {
    justify-content: center;
    flex-direction: column;
  }
}
.contact .contact--wraper .contact__left {
  width: 45%;
}
@media (max-width: 900px) {
  .contact .contact--wraper .contact__left {
    width: 100%;
  }
}
.contact .contact--wraper .contact__left .contact__text {
  color: rgb(123, 123, 123);
  font: calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .contact .contact--wraper .contact__left .contact__text {
    text-align: center;
  }
}
.contact .contact--wraper .contact__left .contact__title {
  color: rgb(221, 221, 221);
  font: bold calc(0.9em + 1vw) "Noto Sans JP", sans-serif;
  padding: 8px 0px 24px 0px;
}
@media (max-width: 900px) {
  .contact .contact--wraper .contact__left .contact__title {
    text-align: center;
  }
}
.contact .contact--wraper .contact__left .contact__text--help {
  max-width: 480px;
  color: rgb(221, 221, 221);
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  line-height: 1.6em;
  margin: 0px auto;
}
@media (max-width: 900px) {
  .contact .contact--wraper .contact__left .contact__text--help {
    text-align: center;
  }
}
.contact .contact--wraper .contact__left .contact__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact .contact--wraper .contact__left .contact__form .contact__form--input {
  width: 100%;
  max-width: 480px;
  background-color: rgba(214, 214, 214, 0.115);
  border: 0.5px solid rgb(253, 219, 176);
  padding: 12px;
  margin: 16px auto;
  border-radius: 4px;
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  color: rgb(221, 221, 221);
}
.contact .contact--wraper .contact__left .contact__form .contact__form--input:focus {
  outline: 1px solid rgb(253, 219, 176);
  background-color: rgba(214, 214, 214, 0.324);
  color: rgb(253, 219, 176);
}
.contact .contact--wraper .contact__left .contact__form .contact__form--message {
  width: 100%;
  max-width: 480px;
  resize: vertical;
  background-color: rgba(214, 214, 214, 0.115);
  border: 0.5px solid rgb(253, 219, 176);
  padding: 12px;
  margin: 16px auto;
  border-radius: 4px;
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  color: rgb(221, 221, 221);
  height: 100px;
}
.contact .contact--wraper .contact__left .contact__form .contact__form--message:focus {
  outline: 1px solid rgb(253, 219, 176);
  background-color: rgba(214, 214, 214, 0.324);
  color: rgb(253, 219, 176);
}
.contact .contact--wraper .contact__left .contact__form .contact__form--error {
  font: calc(0.8em + 0.1vw) "Noto Sans JP", sans-serif;
  color: rgb(255, 92, 92);
  margin: auto;
}
.contact .contact--wraper .contact__left .contact__form--submit-btn {
  background-color: rgba(214, 214, 214, 0.115);
  border: 0.5px solid rgb(253, 219, 176);
  padding: 12px 32px;
  margin: 16px auto;
  border-radius: 4px;
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  color: rgb(253, 219, 176);
  cursor: pointer;
}
.contact .contact--wraper .contact__left .contact__form--submit-btn:hover {
  background-color: rgba(214, 214, 214, 0.324);
}
.contact .contact--wraper .contact__right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
}
@media (max-width: 900px) {
  .contact .contact--wraper .contact__right {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }
}
.contact .contact--wraper .contact__right .contact__map {
  height: 480px;
}
.contact .contact--wraper .contact__right .contact__info--container {
  display: flex;
  flex-direction: column;
}
.contact .contact--wraper .contact__right .contact__info--container .contact__info {
  display: flex;
  align-items: center;
  margin: 12px auto 0px auto;
}
.contact .contact--wraper .contact__right .contact__info--container .contact__info .contact__info--img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.contact .contact--wraper .contact__right .contact__info--container .contact__info .contact__info--title {
  color: rgb(221, 221, 221);
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  line-height: 1.6em;
}
@media (max-width: 900px) {
  .contact .contact--wraper .contact__right .contact__info--container .contact__info .contact__info--title {
    text-align: center;
  }
}
.contact .contact--wraper .contact__right .contact__info--container .contact__info .contact__info--link {
  text-decoration: none;
  color: rgb(253, 219, 176);
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  line-height: 1.6em;
  padding-left: 12px;
}
@media (max-width: 900px) {
  .contact .contact--wraper .contact__right .contact__info--container .contact__info .contact__info--link {
    text-align: center;
  }
}

.testimonial {
  margin: 82px auto;
  padding: 0px 32px;
}
.testimonial .testimonial--wraper {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 32px 0px;
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper {
    justify-content: center;
  }
}
.testimonial .testimonial--wraper .testimonial__left {
  width: 45%;
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper .testimonial__left {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper .testimonial__left .testimonial__left--img {
    margin: auto;
  }
}
.testimonial .testimonial--wraper .testimonial__right {
  width: 45%;
  margin: auto 0px;
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper .testimonial__right {
    width: 100%;
  }
}
.testimonial .testimonial--wraper .testimonial__right .testimonial__text {
  font: calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
  color: rgb(191, 191, 191);
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper .testimonial__right .testimonial__text {
    text-align: center;
    padding-top: 24px;
  }
}
.testimonial .testimonial--wraper .testimonial__right .testimonial__title {
  font: bold calc(0.9em + 1vw) "Noto Sans JP", sans-serif;
  color: rgb(79, 71, 62);
  padding: 8px 0px 24px 0px;
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper .testimonial__right .testimonial__title {
    text-align: center;
  }
}
.testimonial .testimonial--wraper .testimonial__right .testimonial__paragraf {
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  line-height: 1.6em;
  color: rgb(96, 96, 96);
  padding: 12px 0px;
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper .testimonial__right .testimonial__paragraf {
    text-align: center;
    max-width: 480px;
    margin: auto;
  }
}
.testimonial .testimonial--wraper .testimonial__right .testimonial__client--name {
  font: bold calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
  color: rgb(79, 71, 62);
  padding-top: 12px;
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper .testimonial__right .testimonial__client--name {
    text-align: center;
  }
}
.testimonial .testimonial--wraper .testimonial__right .testimonial__client--job {
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  color: rgb(96, 96, 96);
}
@media (max-width: 900px) {
  .testimonial .testimonial--wraper .testimonial__right .testimonial__client--job {
    text-align: center;
  }
}