* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
* body {
  margin: 0;
}
* body ol, * body ul {
  list-style: none;
}
* body h1, * body h2, * body h3, * body h4, * body h5, * body h6 {
  font-size: 100%;
  font-weight: normal;
}
* body address, * body caption, * body cite, * body code, * body dfn, * body em, * body strong, * body th, * body var {
  font-style: normal;
  font-weight: normal;
}
* body img, * body picture, * body svg, * body video {
  display: block;
  max-width: 100%;
}

.header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 64px;
  position: relative;
  box-shadow: -10px -10px 200px rgb(79, 71, 62);
}
.header .navigation .logo-container {
  display: flex;
  width: 82px;
  height: 82px;
  background-color: rgb(253, 219, 176);
  border-radius: 6px;
  padding: 12px;
}
.header .navigation .navigation-list {
  display: flex;
}
.header .navigation .navigation-list .navigation-list__item {
  padding: 0px 0px 0px 64px;
}
.header .navigation .navigation-list .navigation-list__item .navigation-list__item--link {
  text-decoration: none;
  color: rgb(79, 71, 62);
  font: calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
}
.header .navigation .navigation-list .navigation-list__item .navigation-list__item--link:hover {
  border-bottom: 0.5px solid;
}
.header .navigation .navigation-hamburger {
  display: none;
  cursor: pointer;
}
.header .navigation .navigation-hamburger .navigation-hamburger__line {
  width: 28px;
  height: 4px;
  margin: 6px 0px;
  border-radius: 4px;
  background-color: rgb(79, 71, 62);
}
@media (max-width: 720px) {
  .header .navigation .navigation-hamburger {
    display: block;
  }
  .header .navigation .navigation-list {
    display: none;
  }
  .header .navigation .navigation-list.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 100%;
    left: 0%;
  }
  .header .navigation .navigation-list.active .navigation-list__item {
    padding: 24px;
    border-bottom: 1px solid rgb(253, 219, 176);
  }
}
.header .hero-baner__container {
  display: flex;
  min-height: 360px;
}
.header .hero-baner__container .hero-baner__container--image {
  object-fit: cover;
}

.about-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 82px auto;
  justify-content: space-between;
}
.about-us .about-us__left {
  margin: auto;
}
.about-us .about-us__left .about-us__left--text {
  font: calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
  color: rgb(191, 191, 191);
  text-transform: uppercase;
}
.about-us .about-us__left .about-us__left--title {
  font: bold calc(0.9em + 1vw) "Noto Sans JP", sans-serif;
  color: rgb(79, 71, 62);
  padding: 8px 0px 16px 0px;
}
.about-us .about-us__left .about-us__left--img {
  width: 320px;
  height: 460px;
  border-radius: 12px;
}
.about-us .about-us__right {
  margin: 64px auto;
  padding: 0px 24px;
}
.about-us .about-us__right .about-us__right--text {
  max-width: 320px;
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  line-height: 1.6em;
  color: rgb(50, 50, 50);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(79, 71, 62);
  box-shadow: -10px -10px 80px rgba(48, 24, 0, 0.132);
  padding: 12px 64px;
}
.footer .footer__navigation {
  display: flex;
}
.footer .footer__navigation .footer__navigation--logo {
  display: flex;
  width: 82px;
  height: 82px;
  background-color: rgb(253, 219, 176);
  border-radius: 6px;
  padding: 12px;
}
.footer .footer__navigation .footer__navigation-list {
  padding: 4px 48px;
}
.footer .footer__navigation .footer__navigation-list .navigation-list__item {
  padding: 2px;
}
.footer .footer__navigation .footer__navigation-list .navigation-list__item .navigation-list__item--link {
  text-decoration: none;
  color: rgb(215, 215, 215);
  font: calc(0.8em + 0.4vw) "Noto Sans JP", sans-serif;
}
.footer .footer__navigation .footer__navigation-list .navigation-list__item .navigation-list__item--link:hover {
  border-bottom: 0.5px solid;
}
.footer .footer__portfolio {
  display: flex;
}
.footer .footer__portfolio .footer__portfolio--img {
  display: flex;
  margin: 24px 12px 0px 12px;
  width: calc(100% - 4vh);
}