@import "./base/normalize";
@import "./base/typography";
@import "./base/colors";

// header
.header {
  //navigation
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 64px;
    position: relative;
    box-shadow: -10px -10px 200px $secondary-color;
    .logo-container {
      display: flex;
      width: 82px;
      height: 82px;
      background-color: $primary-color;
      border-radius: 6px;
      padding: 12px;
    }
    .navigation-list {
      display: flex;
      .navigation-list__item {
        padding: 0px 0px 0px 64px;
        .navigation-list__item--link {
          text-decoration: none;
          color: $secondary-color;
          font: $text-big;
        }
        .navigation-list__item--link:hover {
          border-bottom: 0.5px solid;
        }
      }
    }
    .navigation-hamburger {
      display: none;
      cursor: pointer;
      .navigation-hamburger__line {
        width: 28px;
        height: 4px;
        margin: 6px 0px;
        border-radius: 4px;
        background-color: $secondary-color;
      }
    }
    // navigation rwd
    @media (max-width: 720px) {
      .navigation-hamburger {
        display: block;
      }
      .navigation-list {
        display: none;
      }
      // hamburger 'click' add class="active"
      .navigation-list.active {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
        background-color: rgb(245, 245, 245);
        position: absolute;
        top: 100%;
        left: 0%;
        .navigation-list__item {
          padding: 24px;
          border-bottom: 1px solid $primary-color;
        }
      }
    }
  }
  .hero-baner__container {
    display: flex;
    min-height: 360px;
    .hero-baner__container--image {
      object-fit: cover;
    }
  }
}
.about-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 82px auto;
  justify-content: space-between;
  .about-us__left {
    margin: auto;
    .about-us__left--text {
      font: $text-big;
      color: rgb(191, 191, 191);
      text-transform: uppercase;
    }
    .about-us__left--title {
      font: $main-heading;
      color: $secondary-color;
      padding: 8px 0px 16px 0px;
    }
    .about-us__left--img {
      width: 320px;
      height: 460px;
      border-radius: 12px;
    }
  }
  .about-us__right {
    margin: 64px auto;
    padding: 0px 24px;
    .about-us__right--text {
      max-width: 320px;
      font: $text-normal;
      line-height: 1.6em;
      color: rgb(50, 50, 50);
    }
  }
}
