@import "./base/normalize";
@import "./base/typography";
@import "./base/colors";

// header
.header {
  //navigation
  .navigation {
    padding: 12px 32px;
    position: relative;
    box-shadow: -10px -10px 200px $secondary-color;
    .navigation--wraper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1100px;
      margin: auto;
      .logo-container {
        display: flex;
        width: 82px;
        height: 82px;
        background-color: $primary-color;
        border-radius: 6px;
        padding: 12px;
      }
      .navigation-list {
        display: flex;
        .navigation-list__item {
          padding: 0px 0px 0px 64px;
          .navigation-list__item--link {
            text-decoration: none;
            color: $secondary-color;
            font: $text-big;
          }
          .navigation-list__item--link:hover {
            border-bottom: 0.5px solid;
          }
        }
      }
      .navigation-hamburger {
        display: none;
        cursor: pointer;
        .navigation-hamburger__line {
          width: 28px;
          height: 4px;
          margin: 6px 0px;
          border-radius: 4px;
          background-color: $secondary-color;
        }
      }
      // navigation rwd
      @media (max-width: 720px) {
        .navigation-hamburger {
          display: block;
        }
        .navigation-list {
          display: none;
        }
        // hamburger 'click' add class="active"
        .navigation-list.active {
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 100%;
          height: auto;
          background-color: rgb(245, 245, 245);
          position: absolute;
          top: 100%;
          left: 0%;
          .navigation-list__item {
            padding: 24px;
            border-bottom: 1px solid $primary-color;
          }
        }
      }
    }
  }
  .hero-baner__container {
    display: flex;
    min-height: 360px;
    .hero-baner__container--image {
      object-fit: cover;
    }
  }
}

//footer
.footer {
  width: 100%;
  background-color: $secondary-color;
  box-shadow: -10px -10px 80px rgba(48, 24, 0, 0.132);
  padding: 12px 32px;

  .footer--wraper {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    @media (max-width: 900px) {
      justify-content: center;
    }

    .footer__navigation {
      display: flex;
      .footer__navigation--logo {
        display: flex;
        width: 82px;
        height: 82px;
        background-color: $primary-color;
        border-radius: 2px;
        padding: 12px;
      }
      .footer__navigation-list {
        padding: 4px 48px;
        .navigation-list__item {
          padding: 2px;
          .navigation-list__item--link {
            text-decoration: none;
            color: rgb(215, 215, 215);
            font: $text-big;
          }
          .navigation-list__item--link:hover {
            border-bottom: 0.5px solid;
          }
        }
      }
    }
    .footer__portfolio {
      display: flex;
      align-items: center;
      .footer__portfolio--img {
        display: flex;
        margin: 24px 0px 0px 12px;
        width: calc(100% - 4vh);
      }
      .footer__portfolio--img:first-of-type {
        margin: 24px 0px 0px 0px;
      }
    }
  }
}
