@import "./base/typography";
@import "./base/colors";
@import "./base/spacing";

.portfolio {
  margin: $component-margin;
  padding: $component-padding;
  .portfolio--wraper {
    max-width: 1100px;
    margin: auto;
    padding: $wraper-light-padding;
    @media (max-width: 900px) {
      justify-content: center;
    }
    .portfolio__text--container {
      .portfolio__text {
        color: $text-color--light;
        font: $text-big;
        text-transform: uppercase;
        @media (max-width: 900px) {
          text-align: center;
        }
      }
      .portfolio__title {
        color: $secondary-color;
        font: $main-heading;
        padding: $title-padding;
        @media (max-width: 900px) {
          text-align: center;
        }
      }
    }
    .portfolio__img--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .portfolio__img--wraper {
      overflow: hidden;
      max-width: 340px;
      margin: 12px;
      .portfolio__img {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
      }
      .portfolio__img:hover {
        transform: scale(1.1);
      }
    }
  }
  #modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: rgba(44, 44, 44, 0.862);
    cursor: pointer;
    .modal--img {
      margin: auto;
      display: flex;
      width: 80%;
      max-width: 720px;
      padding: 48px 12px;
      height: auto;
    }
  }
}
