//main website colors
$primary-color: rgb(253, 219, 176);
$secondary-color: rgb(79, 71, 62);

//text colors 
$text-color--almost-black: rgb(96, 96, 96);
$text-color--dark:rgb(123, 123, 123);
$text-color--light: rgb(191, 191, 191);
$text-color--almost-white: rgb(221, 221, 221);

//inputs and button colors
$input-button-color--dark: rgba(214, 214, 214, 0.115);
$input-button-color--light: rgba(214, 214, 214, 0.324);