$main-heading: bold calc(0.9em + 1vw) 'Noto Sans JP', sans-serif;
$second-heading: bold calc(0.9em + 0.8vw) 'Noto Sans JP', sans-serif;

$text-big: calc(0.8em + 0.4vw) 'Noto Sans JP', sans-serif;
$text-big--bold: bold calc(0.8em + 0.4vw) 'Noto Sans JP', sans-serif;

$text-normal: calc(0.8em + 0.2vw) 'Noto Sans JP', sans-serif;
$text-normal--bold: bold calc(0.8em + 0.2vw) 'Noto Sans JP', sans-serif;

$text-small: calc(0.8em + 0.1vw) 'Noto Sans JP', sans-serif;
$text-small--bold: bold calc(0.7em + 0.2vw) 'Noto Sans JP', sans-serif;